NEXT_PUBLIC_BRAND_NAME=BrandName
NEXT_PUBLIC_PRIMARY_COLOR=#0EA5E9
NEXT_PUBLIC_WHATSAPP_NUMBER=256700000000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

DATABASE_URL=postgresql://neondb_owner:npg_Vjg4Q6dIzAvG@ep-rapid-rice-adaruzgi-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require